body{padding:0;
	margin: 0;
	background-color: #000000;
}

.headphones{
width: 100%;
height: 200px;
background-color: #696969;
border: 1px solid white; 

}
a{
	color: #ffffff;
}
.headphones a{
	color:red;
	font-size: 48pt;
}
#wireless a{
	color: #00ff00;
	font-size: 16pt;
}

#wireless a:hover{
	color:#660033;
}
#wireless a:link{
	color:#000000;
}
#wireless a:visited{
	color: #ffffff;
}

.headphones img[alt]{
	width: 10px;
	height: 10px;
	border: 2px dashed white;
}

img[alt="red"]{
	width:15%;
	height:75%;
	border:4px dotted black;
}
